*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img-place{
    color: white; 
    position: absolute; 
    top: 5%; 
    font-size: 3rem; 
    font-family: sans-serif;
    margin-left: 2%;
}

.img-text{
    font-size: 10rem;
}

.p1{
    font-size: 5rem;
}

.p2{
    font-size: 10rem;
}

.p3{
    font-size: 4rem;
}

.intro{
    font-size: 5rem;
    text-align: center;
    margin-top: 3%;
}

.intro-para{
    font-size: 3rem;
    text-align: center;
}

.intro-para2{
    font-size: 2rem;
    text-align: center;
    margin-top: 1%;
}

#txt-color{
    color: rgb(209, 145, 5);
}

html,
body {
    height: 100%;
}

